<perfect-scrollbar>
  <mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
      <p>
        <button mat-icon-button style="background: #00838f; border-radius: 10px;" matTooltip="Service Provider">
          <mat-icon style="color: #ffffff">medical_services</mat-icon>
        </button>

        {{title}}
      </p>
      <div fxLayoutGap="5px">
        <button mat-icon-button color="warn" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <!-- <div style="margin-top: 50px;">
      <p class="p_type"> Address </p>
      <div fxLayoutAlign="center center">
        <span>{{address}}</span>
      </div>
    </div> -->
    <mat-card-content>
      <div style="height: 300px; overflow: auto; margin-bottom: 10px;">
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <mat-card fxFlex="45">
          <p class="p_type"> Face Proof </p>
          <div fxLayoutAlign="center center">
            <img [src]="data.image_url">

          </div>
        </mat-card>
        <mat-card fxFlex="45">
          <p class="p_type"> Document </p>
          <div  fxLayoutAlign="center center">
            <img [src]="data.image_url1">

          </div>
        </mat-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
        <mat-card fxFlex="45">
          <p class="p_type"> Declaration </p>
          <div  fxLayoutAlign="center center">
            <img [src]="data.image_url2">

          </div>
        </mat-card>
        <mat-card fxFlex="45">
          <p class="p_type">Signature </p>
          <div  fxLayoutAlign="center center">
            <img [src]="data.image_url3">

          </div>
        </mat-card>
        </div>
      </div>
    </mat-card-content>
    <!-- <div style="overflow: auto; margin-bottom: 10px;">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100">
          <button [fxHide]="buttonHide" class="accept" mat-raised-button (click)='onAccept()'>
            Accept
          </button>
        </div>
        <div fxLayout="column" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100">
          <button [fxHide]="buttonHide" class="decline" mat-raised-button (click)='onDecline()'>
            Decline
          </button>
        </div>
      </div> 
    </div>-->
  </mat-card>
</perfect-scrollbar>