.back {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  #orderSummaryContent {
    width: 1260px;
    height: 1788px;
    min-width: 1260px;
    min-height: 1788px;
  }
  
  .matCardContent {
    background: gray;
    height: 100%;
    max-height: 98%;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
  mat-card-title {
    padding-left: 24px;
    padding-right: 24px;
    //   padding-top: 24px;
    margin: 0px;
    height: 60px;
  }
  
  mat-card-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .contentBody {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  
  th {
    border: 1px solid black;
    text-align: center;
    font-size: 14pt;
    padding: 6px;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    text-align: center;
    font-size: 12pt;
    border-left: none;
    border-right: none;
    padding: 5px;
    color: #000000;
  }
  
  td .mat-cell {
    padding: 0px;
  }
  
  p {
    font-size: 10pt;
  }
  
  a {
    font-size: 10pt;
  }