mat-card {
    height: auto;
    width: auto;
  }
  
  mat-card-title {
    height: 35px;
  }
  
  mat-card-content {
    padding: 2%;
  }
  
  mat-form-field{
    width: 45%;
    margin: 2%;
  }
  
  button:hover{
    background-color: rgb(209, 209, 209);
  }
  