@import '../../../theme/theme.scss';

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../../../assets/images/backgrounds/sign_page_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#template_card {
  width: 350px;
  height: 500px;
  padding-top: 80px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff00;
  -webkit-box-shadow: -28px 9px 88px 20px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -28px 9px 88px 20px rgba(0, 0, 0, 0.66);
  box-shadow: -28px 9px 88px 20px rgba(0, 0, 0, 0.66);
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border: 0px solid #000000;
}

// @media screen and (min-width : 0px) and (max-width : 767px) {
//   #template_card {
//     display: none
//   }
// }

.sign_in_card {
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  padding: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-box-shadow: 28px 9px 88px 20px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 28px 9px 88px 20px rgba(0, 0, 0, 0.66);
  box-shadow: 28px 9px 88px 20px rgba(0, 0, 0, 0.66);
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  border: 0px solid #000000;
}

mat-form-field {
  width: 100%
}

.learn_more {
  width: 50%;
  color: #ffffff;
  background-color: mat-color($primary-app-primary);
  font-weight: bolder;
  font-size: 8pt;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.sign_in_button {
  width: 75%;
  height: 40px;
  margin-top: 10px;
  background-color: mat-color($primary-app-primary);
  color: #ffffff;
  font-weight: bolder;
  font-size: 11.5pt;
  outline: none;
  border-radius: 10px 10px 10px 10px;

 -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
@media only screen and (max-width: 480px) {
    #template_card {
      visibility: hidden;
    }
}
