<perfect-scrollbar>
  <mat-card style="min-width: auto;">
    <div fxLayout="row wrap" style="margin: 0px; margin-bottom: 20px;" fxLayoutAlign="space-between center">
      <div fxLayoutGap="10px" fxLayoutAlign="center center">
        <button mat-icon-button style="background: #00838f; border-radius: 10px;" matTooltip="Appointments Table">
          <mat-icon style="color: #ffffff">local_hospital</mat-icon>
        </button>
        <p style="font-weight: 400; font-size: 16pt;">
          Appointments Table
        </p>
      </div>
      <div fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <!-- <button mat-raised-button color="primary" (click)="onCreate()" matTooltip="Add Document">
          Add
          <mat-icon class="matIcon">add</mat-icon>
        </button> -->
        <button mat-raised-button color="primary" (click)="onRefresh()" matTooltip="Refresh">
          Refresh
          <mat-icon class="matIcon">refresh</mat-icon>
        </button>
        <button [fxShow]="appointmentsTable" [fxHide]="searchOpen" mat-raised-button color="primary"
          (click)="searchOpen = !searchOpen" matTooltip="Search">
          Search
          <mat-icon class="matIcon" style="color: #fff">search</mat-icon>
        </button>
        <app-search-bar [open]="searchOpen" matInput (keyup)="applyFilter($event.target.value)"></app-search-bar>
      </div>
    </div>

    <div fxLayoutAlign="center" style="background:rgb(230, 226, 226); height: 1px;">
    </div>

    <div class="example-container mat-elevation-z8">
      <div style="margin-bottom:5px;" [fxShow]="loadAppointments">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <perfect-scrollbar>
        <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile" [fxShow]="appointmentsTable">
          <ng-container matColumnDef="actions">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
              Actions
            </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <div><button mat-icon-button style="color: rgb(4, 142, 206)" title="Download Invoice" (click)="onOrderInfo(element)">
                <mat-icon>info</mat-icon>
              </button>
                <button mat-icon-button style="color:rgb(16, 107, 4)" (click)="onDateTime(element)" matTooltip="Update Date Time ">
                  <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button style="color:rgb(216, 108, 35)" (click)="onSession(element)" matTooltip="Update session">
                    <mat-icon>medical_services</mat-icon>
                  </button>
                <button mat-icon-button color="primary" (click)="onEdit(element)" matTooltip="Edit">
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <button mat-icon-button color="warn" (click)="onDelete(element._id)" matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
                </button> -->
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="requestedDateTime">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Requested Date/Time </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Requested Date/Time : </span>
              {{element.requestedDateTime_text}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="session">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Visit Session / Session Remaining </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Visit Session / Session Remaining : </span>
              {{element.session}} / {{element.session_remaining}}
            </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="bookingDateTime">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Booking Date/Time </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Booking Date/Time : </span>
              {{element.bookingDateTime_text}}
            </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="coustomerName">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Customer Name </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Customer Name : </span>
              {{element.fullName_text}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="contactNumber">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Contact Number </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Contact Number : </span>
              {{element.contact_number_text}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="serviceName">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Service Name </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Service Name : </span>
              {{element.serviceNameEnglish_text}} 
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stage">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Stage </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Stage : </span>
              {{element.stage_text}}
            </mat-cell>
          </ng-container>
          
          <!-- <ng-container matColumnDef="serviceCharge">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Service Total Charge </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Service Total Charge : </span>
             
              {{element.serviceTotal}}
            </mat-cell>
          </ng-container> -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </perfect-scrollbar>
      <mat-paginator [fxShow]="appointmentsTable" [pageSizeOptions]="[8, 20, 40, 60]" showFirstLastButtons>
      </mat-paginator>
      <div [fxHide]="appointmentsTable" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img src="../../../../assets/images/empty.png" style="height: 150px; margin-top: 35px">
        </div>
        <div style="margin-top: 20px; margin-bottom: 100px; font-size: 12pt; color: #000000">
          {{errorMessage}}
        </div>
      </div>
    </div>
  </mat-card>
</perfect-scrollbar>