<mat-sidenav-container class="container" fullscreen>
  <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
    <mat-toolbar fxLayoutAlign="center center" color="primary" class="mat-elevation-z4">
      <img src="https://medix.xlayer.in/service/assets/images/ohzas.png" width="50x">
      <!-- <div fxLayout="column">
        <a style="font-size: 26px; font-family: Roboto;color:white;
            text-align: center; margin-top: 8px;">
          MTIME
          <span style="font-size: 12px;">com</span>
        </a>
        <a style="font-size:12px; text-align: center; font-family: Roboto;">
          Govt. of Meghalaya
        </a>
      </div> -->
    </mat-toolbar>
    <app-sidemenu [menus]="menuElements"></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <mat-drawer-container fullscreen>
      <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
        <mat-toolbar style="padding: 0px;" color="primary" class="mat-elevation-z4">
          <img src="https://medix.xlayer.in/service/assets/images/ohzas.png" width="80px">
          <!-- <a style="font-size: 16px; font-family: Roboto;color:white;
            text-align: center; margin-top: 8px;">
            MTIME
          </a> -->
        </mat-toolbar>
        <app-sidemenu [menus]="menuElements" [iconOnly]="true"></app-sidemenu>
      </mat-drawer>
      <mat-drawer-content style="overflow: hidden;">
        <app-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow"
          style="z-index: 500"></app-toolbar>
        <!-- <perfect-scrollbar style="height: calc(100% - 64px); width: 100%;"> -->
        <div style="padding: 5px; height: calc(95% - 64px)">
          <router-outlet #route="outlet"></router-outlet>
        </div>
        <!-- </perfect-scrollbar> -->
        <div fxLayout="column" fxLayoutAlign="start center"
          style="z-index: 500; background-color:#e8eaf6; height: 100%;">
          <p style="margin: 0px; font-size: 13px; text-align: center;
          color:rgb(63, 16, 1);">
             Powered by xLayer Technologies Pvt. Ltd.
          </p>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
  
  <mat-sidenav #sidenav2 position="end" mode="over">
    <!-- <mat-tab-group>
          <mat-tab label="Overview">
          </mat-tab>
          <mat-tab label="Notifications">
          </mat-tab>
      </mat-tab-group> -->
    <app-sidebar></app-sidebar>
  </mat-sidenav>

</mat-sidenav-container>