mat-card {
  height: auto;
  width: auto;
}

.matCard1 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(209, 209, 209);
}

.mat-raised-button {
  border-radius: 5px;
}

p {
  margin: 0px;
}

#covid19iFrame {
  height: 100%;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 2px;
}
mat-card {
  height: auto;
  width: auto;
}

.matCard1 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(209, 209, 209);
}

.mat-raised-button {
  border-radius: 5px;
}

p {
  margin: 0px;
}

#covid19iFrame {
  height: 100%;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 2px;
}
