img {
  min-height: 200px;
  max-height: 200px;
  max-width: 200px;
  min-width: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}
.img {
  min-height: 100px;
  max-height: 100px;
  max-width: 100x;
  min-width: 100px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}
.uploadButton {
  margin: 4px;
  font-weight: bold;
  height: 59px;
  margin-left: 6px;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
.example-card {
  max-height: 300px;
  overflow-y: auto;
}
@media only screen and (max-width: 480px) {
  img {
    min-height: 250px;
    max-height: 250px;
    max-width: 250px;
    min-width: 250px;
    padding: 10px;
    border-radius: 20px;
  }
  mat-card {
    height: 100%;
    width: 100%;
  }
  
  .button:hover {
    background-color: gray;
  }
  .example-h2 {
    margin: 10px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 0 10px;
  }
}
