<perfect-scrollbar style="height: calc(100% - 33px);">
  <div fxLayout="column">
    <!-- <div *ngIf="!iconOnly" fxLayout="column" fxLayoutAlign="start center" [style.margin]="'10px 0px'">
      <img width="100" [src]="toolbarHelpers.currentUser.sideMenuPhotoURL">
      <img width="160" src='../../../assets/images/mtime.png'>
      <span style="font-size: 18px; margin-top: 15px; color: #fff;">
        {{toolbarHelpers.currentUser.currentUserName}}
      </span>
    </div> -->
    <!-- <div *ngIf="iconOnly" style="height: 100px;" fxLayout="column" fxLayoutAlign="space-around center">
      <img width="50" [src]="toolbarHelpers.currentUser.sideMenuPhotoURL">
      <img width="80" src='../../../assets/images/mtime.png'>
      <span style="font-size: 10px; color: #fff;">
        {{toolbarHelpers.currentUser.currentUserName}}
      </span>
    </div> -->
    <app-sidemenu-item *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly"> </app-sidemenu-item>
    <!-- <div style="width: 100%;" fxLayoutAlign="space-around center" (click)="sign_out()">
      <button mat-raised-button color="primary">
        Sign Out
      </button>
    </div> -->
  </div>
</perfect-scrollbar>