<perfect-scrollbar>
  <mat-card style="min-width: auto;">
    <div fxLayout="row wrap" style="margin: 0px; margin-bottom: 20px;" fxLayoutAlign="space-between center">
      <div fxLayoutGap="10px" fxLayoutAlign="center center">
        <button mat-icon-button style="background: #00838f; border-radius: 10px;" matTooltip="Service List Table">
          <mat-icon style="color: #ffffff">assignment</mat-icon>
        </button>
        <p style="font-weight: 400; font-size: 16pt;">
          Service List Table
        </p>
      </div>
      <div fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <button mat-raised-button color="primary" (click)="onCreate()" matTooltip="Add Service">
          Add
          <mat-icon class="matIcon">add</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="onRefresh()" matTooltip="Refresh">
          Refresh
          <mat-icon class="matIcon">refresh</mat-icon>
        </button>
        <button [fxShow]="serviceListTable" [fxHide]="searchOpen" mat-raised-button color="primary"
          (click)="searchOpen = !searchOpen" matTooltip="Search">
          Search
          <mat-icon class="matIcon" style="color: #fff">search</mat-icon>
        </button>
        <app-search-bar [open]="searchOpen" matInput (keyup)="applyFilter($event.target.value)"></app-search-bar>
      </div>
    </div>

    <div fxLayoutAlign="center" style="background:rgb(230, 226, 226); height: 1px;">
    </div>

    <div class="example-container mat-elevation-z8">
      <div style="margin-bottom:5px;" [fxShow]="loadServiceList">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <perfect-scrollbar>
        <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile" [fxShow]="serviceListTable">
          <ng-container matColumnDef="actions">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
              Actions
            </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <div>
                <button mat-icon-button style="color:rgb(15, 104, 4)" (click)="serviceImageUpload(element)"
                  matTooltip="Service image Upload">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="onEdit(element)" matTooltip="Edit">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(element._id)" matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="serNameEnglish">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Service Name English </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Service Name English : </span>
              {{element.serviceNameEnglish_text}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="serNameHindi">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Service Name Hindi </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Service Name Hindi : </span>
              {{element.serviceNameHindi_text}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="serCharge">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Service Charge </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Service Charge : </span>
              {{element.serviceCharge_text}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="serTaDa">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Travelling Allowance </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Travelling Allowance : </span>
              {{element.serviceTA_text}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="serTotalAmount">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> Total Amount </mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
              <span class="mobile-label">Total Amount : </span>
              {{element.serviceTAtotal_text}}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </perfect-scrollbar>
      <mat-paginator [fxShow]="serviceListTable" [pageSizeOptions]="[8, 20, 40, 60]" showFirstLastButtons>
      </mat-paginator>
      <div [fxHide]="serviceListTable" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img src="../../../../assets/images/empty.png" style="height: 150px; margin-top: 35px">
        </div>
        <div style="margin-top: 20px; margin-bottom: 100px; font-size: 12pt; color: #000000">
          {{errorMessage}}
        </div>
      </div>
    </div>
  </mat-card>
</perfect-scrollbar>