<mat-card>
  <mat-card-header>
    <mat-card-title>
      You are not registered for this service, would you like to register for this service?
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="margin-top: 20px; margin-bottom: 10px" fxLayoutGap="20px" fxLayout="row"
    fxLayoutAlign="end center">
    <button mat-raised-button style="background: #5FCAF1; color: white; font-weight: bolder;" (click)="onYes()">Yes</button>
    <button mat-raised-button style="background: #EE7373; color: white; font-weight: bolder;" (click)="onNo()">No</button>
  </mat-card-content>
</mat-card>